SECRET_KEY=change-this-to-a-long-random-string
DEBUG=true

POSTGRES_PASSWORD=smwcs_dev_pass
REDIS_PASSWORD=smwcs_dev_pass
INFLUX_TOKEN=smwcs-dev-influx-token
INFLUX_PASSWORD=smwcs_dev_pass
JWT_SECRET=change-this-jwt-secret
MINIO_ACCESS_KEY=smwcs
MINIO_SECRET_KEY=smwcs_dev_pass
EOF
